@model IEnumerable<ED1_ProyectoCOVID.Models.Estadisticas>

@{
    ViewBag.Title = "Estadisticas";
}

<h2>Estadisticas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingreso_Contagiados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingreso_Sospechosos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sospechosos_A_Positivos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad_Egresados)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ingreso_Contagiados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingreso_Sospechosos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sospechosos_A_Positivos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad_Egresados)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
